
*.xcuserstate
*.pbxproj
CID Gamified Training/CID Gamified Training.xcodeproj/project.xcworkspace/xcuserdata/enya.xcuserdatad/UserInterfaceState.xcuserstate
CID Gamified Training/CID Gamified Training.xcodeproj/project.pbxproj
