<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695207976540-u79tacnhji7st2iq9n18dh818sfvd0vr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695207976540-u79tacnhji7st2iq9n18dh818sfvd0vr</string>
	<key>API_KEY</key>
	<string>AIzaSyA3VlThwgKW-RUvXVBQ_UKKtdwpF-DIiv0</string>
	<key>GCM_SENDER_ID</key>
	<string>695207976540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ARL.CID-Gamified-Training</string>
	<key>PROJECT_ID</key>
	<string>arl-gamified-training-2767b</string>
	<key>STORAGE_BUCKET</key>
	<string>arl-gamified-training-2767b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:695207976540:ios:7f1337104bf3afcf1dd099</string>
	<key>DATABASE_URL</key>
	<string>https://arl-gamified-training-2767b.firebaseio.com</string>
</dict>
</plist>
